name: Build and Release Windows
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Enable Windows Desktop
        run: flutter config --enable-windows-desktop

      - name: Get dependencies
        run: flutter pub get

      - name: Build Windows
        # Přidali jsme --verbose, aby v logu bylo vidět, pokud build selže
        run: flutter build windows --release --verbose

      # TENTO KROK NÁM UKÁŽE, KDE TY SOUBORY JSOU (pro ladění)
      - name: List files
        run: dir build/windows/runner/
        shell: cmd

      # Použijeme standardní PowerShell pro vytvoření ZIPu
      - name: Zip Release
        shell: pwsh
        run: |
          Compress-Archive -Path build/windows/runner/Release/* -DestinationPath heat_simulator_windows.zip

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-binary
          path: heat_simulator_windows.zip
